/profile
/resume/*.pdf
/resume/resume.json
/logs/*
!resume/README.md
!resume/resume_template.json
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.env
.venv
venv/
ENV/
.DS_Store